<div class="card m-5">
  <div class="card-header">
    <h4 class="card-title"><a class="text-info" href="/post/{{id}}">{{title}}</a></h4>
    <h6 class="card-subtitle mb-2">Posted by {{user.username}} on {{format_date created_at}}</h6>
    </div>
    <div class="card-body">
    <p class="card-text">{{content}}</p>
    </div>
  </div>